<footer class="global-footer">
	<section>
		<div class="section typeset">
			<div class="column">
				<h6>contact</h6>
				<ul>
					<li><a href="https://github.com/jpwesselink">@jpwesselink</a> / <a href="https://github.com/stefanmirck">@stefanmirck</a></li>
					<li><a href="http://www.meetup.com/nodeschool-amsterdam/">http://www.meetup.com/nodeschool-amsterdam/</a> </li>
					<li><a href="https://twitter.com/NodeSchoolAMS">https://twitter.com/NodeSchoolAMS</a></li>
				</ul>
			</div>
		</div>
	</section>
</footer>
